fastapi==0.115.2
uvicorn==0.34.2
python-dotenv
openai==1.77.0
anthropic
mediapipe==0.10.21
opencv-python
pydub
faster-whisper==1.1.1
scipy
gTTS
pdfplumber
python-docx
pyttsx3
pillow
requests
numpy
tqdm
scikit-learn
transformers
torch
filelock
pdfminer.six
pdfkit
starlette
